.c-page {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  background-color: $color-almost-white;
  font-size: 1.6rem;
}

.c-header {
  width: 100%;
  align-self: center;
  background-image: url("/assets/img/home-bg@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 42rem;
  color: $color-almost-white;

  @media screen and (max-width: 1280px) {
    background-image: url("/assets/img/home-bg@1x.jpg");
    flex: 0 1 32rem;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 1rem $color-primary-dark;
    color: $color-almost-white;
    padding: 1em;
    background: $color-primary-dark;
    opacity: 0.75;

    @media screen and (max-width: 640px) {
      text-shadow: 0.2rem 0.2rem 0.5rem hsl(0, 50%, 15%);
      padding: 0 1rem;
    }
  }
}

.c-nav {
  font-family: $font-sans;
  width: 100%;
  // min-height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;

  &__container {
    width: 98rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem 3rem;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 480px) {
      padding: 0.8rem 1.5rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media screen and (max-width: 640px) {
      line-height: 2;
    }

    & > a {
      padding-right: 2rem;
      @media screen and (max-width: 640px) {
        padding-right: 0.5rem;
      }
    }
  }

  &__link {
    transition: all 0.2s;
    &.current {
      font-weight: 600;
    }

    &:hover {
      color: $color-complement-lightest;
    }
  }
}

.c-card {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.75rem;

  @media screen and (max-width: 640px) {
    padding: 1.5rem;
  }

  &__items {
    display: flex;
    flex-basis: 92rem;
    flex-direction: column;

    img {
      width: 100%;
    }

    h1:not(:first-of-type) {
      padding-top: 3rem;
      line-height: 1.2;
    }

    h2 {
      padding-top: 2rem;
      line-height: 1.2;
    }

    h3 {
      padding-top: 1.5rem;
    }

    p {
      margin-top: 1.5rem;
    }

    // used on landing page "News"
    .table__news {
      thead th {
        text-align: left;
        padding-left: 0.3em;
        border-bottom: 1px solid $color-gray-67;

        @media screen and (max-width: 640px) {
          padding-left: 0.1em;
        }
      }
      tbody {
        tr:nth-of-type(even) {
          background: $color-gray-95;
        }
      td:nth-child(1) {
          white-space:nowrap;
        }

        td {
          padding: 0.85em 0.25em 0.85em 0.333em;
          line-height: 1.33;
          
 
          @media screen and (max-width: 640px) {
            padding: 0.75em 0.2em 0.75em 0.2em;
          }
        }
      }
    }

    // used in publications
    .p__notes {
      font-size: 0.9em;
      color: $color-gray-50;
    }

    .layout-publications {
      h2 {
        margin-top: 1.5em;
        border-top: 0.2em solid $color-gray-90;
        padding-top: 1.2rem;
        // border-radius: 5px;
        // background: linear-gradient(180deg, $color-gray-95, transparent 20%);
      }
      p {
        border-top: 1px dotted $color-gray-50;
        padding-top: 0.5em;
      }
      padding-bottom: 2em;
    }

    #team {
      padding-top: 0.67em;
    }


    .layout-people {
      p {
        display: flex;
        @media screen and (max-width: 640px) {
          flex-direction: column;
          align-items: left;
        }
        i {
          padding: 1em;
          color: $color-gray-33;
        }
        img {
          height: auto; 
          width: auto; 
          max-width: 270px; 
          max-height: 270px;
          margin: 1em;
          border-radius: 3px;
          box-shadow: -3px 3px 3px rgba(200, 200, 200, 0.9);
        }
      }
    }


    .layout-blog {
       img{
         height: auto; 
         width: auto; 
         max-width: 300px; 
         max-height: 300px;
         }
       }

    a:link,
    a:visited {
      color: $color-primary-dark;
      font-weight: 600;
      padding: 0 0.2rem;
      border-bottom: 1px solid $color-primary-lightest;
      transition: all 0.2s ease-out;

      &.l-big-button {
        display: inline-block;
        background: $color-primary-dark;
        color: $color-almost-white;
        padding: 1em;
        box-shadow: 2px 2px $color-gray-50;
      }
    }

    a[href^="http"] {
      font-weight: 300;
    }

    a:hover,
    a:focus {
      background-color: $color-primary-dark;
      color: $color-almost-white;
      &.l-big-button {
        background: $color-primary;
      }
    }
  }
}
