Body 	         { color: white; font-size: x-small; font-family: Arial; background-color: #071050; margin-left: 0; scrollbar-3d-light-color: #000000; scrollbar-arrow-color: #446ce0; scrollbar-base-color: #000000; scrollbar-dark-shadow-color: #446ce0; scrollbar-face-color: #000000; scrollbar-highlight-color: #446ce0; scrollbar-shadow-color: #446ce0; scrollbar-track-color: #000000  }

a:link 	            { color: #a3adfa; text-decoration: none }
a:visited 	            { color: #a3adfa; text-decoration: none }
a:active 	             { color: #c7c9ff; text-decoration: underline blink }
a:hover 	             { color: #c7c9ff; text-decoration: underline blink }
p  		     { color: white; font-size: 13px; font-family: Arial }
td    { color: white; font-size: 13px; font-family: Arial }
h1    { color: white; font-weight: bold; font-size: 20px; font-family: Arial }
h2 		    { color: white; font-weight: bold; font-size: 16px; font-family: Arial }
h3 		     { color: white; font-weight: bold; font-size: 13px; font-family: Arial }
h4    { color: white; font-weight: bold; font-size: 11px; font-family: Arial }
h5 { color: white; font-weight: normal; font-size: 10px }
