Body 	       { color: black; font-size: x-small; font-family: Verdana, helvetica, sans-serif; background-color: #050c3c; margin-left: 0; scrollbar-3d-light-color: #000000; scrollbar-arrow-color: #446ce0; scrollbar-base-color: #000000; scrollbar-dark-shadow-color: #446ce0; scrollbar-face-color: #000000; scrollbar-highlight-color: #446ce0; scrollbar-shadow-color: #446ce0; scrollbar-track-color: #000000  }

a:link 	        { color: #b8d0fa; text-decoration: none }
a:visited 	        { color: #a9c0e6; text-decoration: none }
a:active 	       { color: white; font-weight: bold; text-decoration: blink }
a:hover 	       { color: white; font-weight: bold; text-decoration: none }
p  		    { color: white; font-size: 12px; font-family: Arial }
td   { color: white; font-size: 12px; font-family: Arial }
h1   { color: white; font-weight: bold; font-size: 18px; font-family: Arial }
h2 		      { color: white; font-weight: bold; font-size: 14px; font-family: Arial }
h3 		    { color: white; font-weight: bold; font-size: 12px; font-family: Arial }
h4  { color: white; font-weight: normal; font-size: 10px }
